
@model Client.Models.TeacherViewModel;


<h1>Teacher index</h1>
<p>Hello @Model.Teacher.Name</p>
<ul>
@foreach(var item in Model.Classes){
    <li>
        @Html.ActionLink(item.Name, "ClassDetails", new{id = item.Id})
    </li>
    }
</ul>
    

