@model Client.Models.StudentViewModel

<h1>Hello @Model.Student.Name dep trai</h1>

<ul>
    @foreach (var item in Model.Classes)
    {
        <li>
            @Html.ActionLink(item.Name, "ClassDetails", new{id = item.Id})
        </li>
    }
</ul>